{% extends 'layouts/base.html' %}
{% load static %}

{% block login %}
{% include 'layouts/authorized.html' %}
{% endblock %}

{% block content %}

<h2>Settings: Dr. Pepper</h2>
<form>
    <div class="mb-3">
        <label for="login" class="form-label">Login</label>
        <input type="text" class="form-control" id="login" value="dr_pepper">
    </div>
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" class="form-control" id="email" value="dr.pepper@mail.ru">
    </div>
    <div class="mb-3">
        <label for="nickname" class="form-label">Nickname</label>
        <input type="text" class="form-control" id="nickname" value="Dr. Pepper">
    </div>
    <div class="mb-3 avatar-upload">
        <label class="form-label">Upload avatar</label>
        <div class="avatar-placeholder">
            <span>avatar</span>
        </div>
        <div class="input-group">
            <input type="file" class="form-control" id="avatarUpload">
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>


{% endblock %}

