<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="./../static/css/index.css">
</head>
<body>
  <header class="header">
    <div class="logo">
      <a href="#">
        ilyansky ask
      </a>
    </div>
    
    <div class="search-form">
      <from action="#">
        <input class="search-form-input" type="text">
        <button class="search-form-button">ask</button>
      </from>
    </div>
    
    <div class="account">
      <div class="account-image">
        <img src="./image.jpg" alt="Image">
      </div>
      <div class="account-content">
        <div class="account-name">ilyansky</div>
        <div class="account-actions">
          <a href="./settings.html">settings</a>
          <a href="./logout.html">log out</a>
        </div>
      </div>
    </div>
  </header>

  <main class="main-container">
    <div class="title-bar">
      <h1>New Questions</h1>
      <a class="title-bar" href="./hot-questions.html">Hot Questions</a>
    </div>

    <div class="content">
      <div class="cards">
        <div class="card">
          <div class="card-left">
            <img src="./image.jpg" alt="Image" class="card-image">
            <input type="number" class="card-likes">
          </div>

          <div class="card-right">
            <h4>Title</h4>
            <div>Text here</div>
            <div class="card-right bottom">
              <a href="./answers.html">Answer(3)</a>
              <div class="card-tags">
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
                <a href="#">Link</a>
              </div>
            </div>
            
          </div>
        </div>
      </div>
      <div class="sidebar"></div>
    </div>
  </main>



</body>

</html>


