{% load static %}

<div class="card w-100" style="width: 18rem;">
        <div class="card-body">
            <div class="row">

                <div class="col-3">
                    <div class="border mb-2" style="height: 100px">
                        <img src="jpg.jpg" alt="Avatar" class="img-fluid">
                    </div>
                    <input class="form-control" type="number" value="{{ answer.likes_count }}" placeholder="Default input"
                           aria-label="default input example">
                </div>

                <div class="col-9">
                    <p class="card-text">{{ answer.text }}</p>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="answer2">
                        <label class="form-check-label" for="answer2">
                            Correct!
                        </label>
                    </div>
                </div>

            </div>
        </div>
    </div>