{% extends 'layouts/base.html' %}
{% load static %}

{% block login %}
{% include 'layouts/authorized.html' %}
{% endblock %}

{% block content %}
<!-- Title -->
<div class="d-flex gap-3 align-items-center">
    <h1>New Questions</h1>
    <a href="{% url 'hot' %}">Hot Questions</a>
</div>


<!--New questions-->
<div class="d-flex flex-column gap-3">

    {% for question in questions %}
    {% include 'layouts/question_card.html' %}
    {% endfor %}
    {% include 'layouts/pagination.html' %}

</div>

{% endblock %}